body{
    background-color: black;
}

@media (min-width:300px) and (max-width:600px){
    nav{
        margin-left: 45px;
    }
}
.logo{
    display: block;
    margin: auto;
    width: 60px;
    height: 60px;
}
h3{
    text-align: center;
    font-family: cursive;
    font-size: 25px;
    margin: 4px;
    color: white;
    /* margin-bottom: 40px; */
}
.container{
    width: 1020px;
    margin: auto;
    background-color: skyblue;
    background: url(/bg4.jpg) no-repeat;
    background-size: cover;
    height: 81vh;
    /* padding: 33px; */
    overflow-y: auto;
    margin-bottom: 13px;
    border: 2px solid white;
}
.message{
    background-color: white;
    width: 39%;
    /* height: 30px; */
    padding: 9px 7px;
    margin: 14px 3px;
    color: black;
    border: 2px solid black;
    border-block-start: 22ps;
    border-radius: 35px;
    outline: none;
    color: black;
}
.right{
    float: right;
    border-top-right-radius: 1px;
    
    clear: both;
    border-left-style: 90px;
   
}
.left{
    float: left;
    clear: both;
    border-top-left-radius: 1px;
}
.send-container{
    
    display: block;
    text-align: center;
    margin: auto;
    display: flex;
    margin: auto;
    justify-content: center;
}
.messageInp{
    width: 65vw;
    border: 2px solid black;
    border-radius: 10px;
    height: 5vh;
    outline: none;
    font-size: 21px;
    font-family: cursive;
}
.btn{
    border: 2px solid black;
    cursor: pointer;
    height: 6vh;
    font-size: inherit;
    outline: none;
    border-radius: 35px;
}
.img{
    height: 34px;
    margin: -1px 1px;
}
.btn:hover{
    background-color: #cce5ff;
}
